main {
    padding: 16px;
    width: fit-content;
}

.text-logo {
    display: flex;
    flex-wrap: wrap;
    text-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5ch;
}

.logo {
    display: inline;
    height: 32px;
    border-radius: 50%;
    margin-left: 4px;
}
