:root {
    line-height: 1;
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

html, body {
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
}

main {
    width: 100vw;
    max-width: min(800px, 100vw);
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}


/* HEADER & NAVBAR */

header {
    position: sticky;
    top: 0;
    color: white;
    background-color: #450084;
    padding: 8px 24px;
    z-index: 300;
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    max-width: 1200px;
    margin: 0 auto;
}

#nav-expand {
    display: none;
}

header img {
    min-height: 0;
    display: inline;
    height: 36px;
}

header a {
    cursor: pointer;
}

nav {
    --nav-spacing: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav a,
nav a:visited {
    position: relative;
    color: white;
    text-decoration: none;
    margin: 4px var(--nav-spacing);
}

/* Bullet points between nav items */
nav a:not(:first-child)::before {
    position: absolute;
    content: "\2022";
    top: 0;
    left: calc(var(--nav-spacing) * -1);
    height: 100%;

    color: white;
    pointer-events: none;
    transform: translateX(-50%);
}

nav a:hover {
    color: gold;
    text-decoration: underline;
}


/* GENERAL STYLES */

button {
    background-color: white;
    border: 1px solid black;
    border-radius: 32px;
    padding: 4px 12px;

    cursor: pointer;
}

button:active {
    background-color: #eeeeee;
}

select {
    padding: 4px 8px;
    border: 1px solid black;
    border-radius: 4px;
    background: white;
}

a {
    color: #007AFF;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.icon {
    min-height: 0;
    height: 0.9lh;
    max-height: min(1lh, 2rem);
    max-width: 1lh;
    vertical-align: middle;
    object-fit: contain;
}


h1, h2 {
    margin: 0;
}


.toggle input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle:has(*:focus-visible) {
    outline: 2px solid white;
}

.toggle {
    position: relative;
    display: inline-block;
    height: 1lh;
    aspect-ratio: 2 / 1;
    background-color: #888888;
    border-radius: 999px;
    user-select: none;
    overflow: hidden;

    transition: background-color 0.3s;
}

.toggle:after {
    --margin: 2px;
    --height: calc(100% - var(--margin) - var(--margin));

    position: absolute;
    content: "";
    background-color: white;
    top: var(--margin);
    left: var(--margin);
    height: var(--height);
    border-radius: 999px;
    aspect-ratio: 1;
    user-select: none;

    transition: left 0.2s ease-in-out, transform 0.2s ease-in-out, aspect-ratio 0.2s ease-in-out;
}

.toggle:active:after {
    aspect-ratio: 1.5;
}

.toggle:has(input:checked) {
    background-color: #007AFF;
}

.toggle:has(input:checked)::after {
    left: calc(100% - var(--margin));
    transform: translateX(-100%);
}

.card {
    display: flex;
    flex-direction: column;

    border: 2px solid #450084;
    border-radius: 8px;
    outline: 2px solid transparent;
    box-shadow: 0 0 8px #00000060;
    cursor: pointer;
    height: 100%;

    /* transition: outline-color 0.2s ease-out; */
}

.card:is(:hover, :focus-visible) {
    outline-color: #007AFF;
}

.card h2 {
    padding: 12px;
    background-color: #450084;
    color: white;
    text-align: center;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 8px;
    text-align: center;
    font-size: small;
}

@media only screen and (max-width: 800px) {
    #nav-expand {
        display: flex;
        justify-content: center;
        align-items: center;

        background: none;
        border: none;
        padding: 0;
    }

    #nav-expand-icon {
        height: 1.2lh;
        margin: auto;
    }

    nav {
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        background-color: #450084;
        z-index: -1;
        transform: translateX(100%);
        transition: transform 0.3s, visibility 0.3s;
    }

    nav.expanded {
        visibility: visible;
        transform: translateX(0);
    }

    nav a::before {
        content: none !important;
    }

    main {
        flex-direction: column;
    }
}
