html, body {
    overflow: hidden;
}

body {
    min-height: 100dvh;
    max-height: 100dvh;
}

main {
    flex: 1;
    min-height: 0;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: stretch;
}

header {
    position: sticky;
    top: 0;
}

aside {
    min-width: max(200px, 20vw);
    width: 40vw;
    max-width: min(40vw, 40vh);
    margin: 1lh 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    overflow-y: auto;

    border: 2px solid #450084;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #450084;
    box-shadow: 0 0 16px #00000080;
    color: white;
}

#location-link {
    position: relative;
}

#location-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 600px;
    outline: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer !important;
}

#location-image:is(:hover, :focus-visible) {
    outline-color: #007AFF;
}

#location-image-hint {
    font-size: x-small;
}

#filters {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: left;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
}

#filters *:nth-child(odd) {
    text-align: right;
    justify-self: right;
}

#filters select {
    width: 100%;
}

#search-container {
    display: flex;
    justify-content: stretch;
    align-items: center;
    width: fit-content;
    margin: 8px auto;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 260px;
    background-color: white;
}

#search-container:has(#search-filter:focus-visible) {
    border: 2px solid #007AFF;
    outline: 2px solid white;
}

#search-filter {
    flex: 1;
    box-sizing: border-box;
    padding: 4px 8px;
    border: none;
    border-radius: 0;
    outline: none;
}

#search-clear {
    flex: 0 0 auto;
    visibility: visible;
    font-size: x-large;
    cursor: pointer;
    margin: 2px;
    padding: 0 4px;
    border: none;
    font-family: monospace;
    color: black;
    background: none;
}

#search-clear:disabled {
    visibility: hidden;
    padding: 0;
    max-width: 0;
}

#reset-filters {
    margin: 8px auto;
    width: fit-content;
}

#sidebar-arrow {
    display: none;
}

.location-info {
    margin-bottom: 10px;
}

.container {
    flex: 1;
    display: grid;
    width: 100%;
    overflow-y: auto;
}

#location-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(200px, min(25%, 300px)), 1fr));
    grid-auto-rows: min-content;
    padding: 8px;
}



/* RESTAURANT CARDS */

#cards-placeholder {
    display: none;
    font-size: large;
    text-align: center;
    opacity: 0.6;
    margin: auto;
}

.card {
    position: relative;
    margin: 8px;
    text-align: center;
    height: fit-content;
    min-height: 160px;
    max-height: 800px;
    overflow: hidden;
}

.card-header {
    padding: 12px;
    background-color: #450084;
    color: white;
    display: flex;
    justify-content: stretch;
    align-items: center;
    text-wrap: nowrap;
}

.card-content {
    position: absolute;
    max-height: 0;
    overflow: hidden;
}

.card-options {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 20;
    color: white;
}

.card-options:has(.selected) {
    opacity: 1;
}

.card:is(:hover, :focus-visible) .card-options,
.card-options:has(:focus-visible) {
    opacity: 1;
}

.card-options button {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 4px;

    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: #450084;
    font-size: large;
    cursor: pointer;
    user-select: none;
}

/* Default to white icon with high brightness */
.card-options button .icon {
    width: 18px;
    height: 18px;
    filter: brightness(10);
}

.card-options button:is(:focus-visible, :hover) {
    outline: none;
    background-color: white;
}

/* Set favorited icons to red (original SVG color) */
.card-options :is(.favorite.selected, .favorite:hover, .favorite:focus-visible) .icon {
    filter: brightness(1);
}

.card-options .favorite.selected {
    background-color: transparent;
}

.card-options .favorite.selected:hover,
.card-options .favorite.selected:focus-visible {
    background-color: white;
}

.card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 50%;
    width: fit-content;
    border-top-right-radius: 8px;
    background-color: white;
    padding: 8px 12px;
    text-align: left;
    box-shadow: 0 0 8px #000000a0;
}

.card-footer .status {
    font-weight: bold;
}

.status.open {
    color: green;
}

.status.closing {
    color: orange;
}

.status.closed {
    color: red;
}

.card-footer .hours {
    font-size: small;
    opacity: 0.6;
}

.card:focus-visible {
    outline: 2px solid #007AFF;
}

.card h3 {
    margin: 0;
    flex: 1;
}

.card > img {
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
}

.card ul {
    list-style: none;
    align-self: stretch;
    padding: 0;
}

.card li {
    margin: 8px 0;
}



/* DETAILS MODAL */

#details-modal {
    display: block;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    box-shadow: 0 0 16px #00000080;
    border: none;
    border-radius: 8px;
    min-width: min(400px, 90vw);
    width: 50vw;
    max-width: max(600px, 90vw);
    box-sizing: border-box;
    visibility: hidden;
    z-index: 100;

    transform: scale(0);
    transition: transform 0.2s, visibility 0.2s;
}

#details-modal.open {
    visibility: visible;
    transform: scale(1);
}

#details-modal::backdrop {
    visibility: hidden;
}

#details-backdrop {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;

    background-color: transparent;
    transition: background-color 0.2s;
    z-index: 50;
}

#details-backdrop.open {
    background-color: #00000080;
}

#details {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

#details h2 {
    text-align: center;
}

#details .card-options {
    opacity: 1 !important;
    background-color: #450084;
    padding: 6px;
    border-bottom-left-radius: 8px;
}

#details #details-address {
    margin: 4px 0;
    font-size: small;
    opacity: 0.6;
}

#details #details-address-icon {
    font-size: small;
}

#details #details-content {
    margin-top: 10px;
}

#details #details-payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    margin-top: 1em;
}

#details .payment-option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: small;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

#details .payment-option:hover {
    box-shadow: 0 0 4px #00000060;
}

#details .payment-option img {
    width: 24px;
    aspect-ratio: 1;
}

#details #details-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 8px;
    margin-top: 20px;
    font-size: small;
}

#details #details-controls > * {
    position: relative;
    padding: 8px 16px;
    border: 2px solid #450084;
    border-radius: 999px;
    cursor: pointer;
    transform: translateY(0);
    box-shadow: 0 0 0 0 #450084;
    transition: transform 0.3s, box-shadow 0.3s;
}

#details #close-details {
    color: white;
    background-color: #450084;
}

#details #view-on-map {
    color: #450084;
    background-color: white;
    text-decoration: none !important;
}

#details #details-controls > *:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 0 0 #450084;
}

#details #close-details:hover {
    transform: translateY(-4px);
    box-shadow: 0 1px 0 0 white, 0 4px 0 0 #450084 !important;
}

#details #details-controls > *:hover:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -8px;
    right: 0;
    top: 0;
    z-index: -1;
}



/* MEDIA QUERIES */

/* Sidebar becomes a vertical drop-down on narrow screens */
@media screen and (max-width: 800px) {
    aside {
        position: relative;
        flex: 0;
        flex-basis: fit-content;
        padding: 0;
        min-width: 100%;
        box-sizing: border-box;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        border-radius: 0;
        overflow: visible;
        border-bottom: 2px solid white;
    }

    .location-info {
        margin: 0;
        min-height: 60px;
        max-height: 1dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        cursor: pointer;
    }

    .flex-center {
        display: flex;
        justify-content: space-between;
    }

    #sidebar-arrow {
        display: block;
        flex: 0 0;
        color: white;
        height: 1lh;
        max-height: 24px;

        transition: transform 0.2s;
    }

    aside.expanded {
        flex: 1 !important;
        min-height: 0;
    }

    aside.expanded #sidebar-arrow {
        transform: rotate(90deg);
    }

    aside *:is(#location-link, #location-image-hint) {
        flex: 0 1 auto;
        width: 95%;
        min-height: 0;
        max-height: 50vh;
        display: none;
        margin: 0 auto;
    }

    aside:not(.expanded) #filters,
    aside:not(.expanded) #reset-filters {
        display: none;
    }

    aside.expanded *:is(#location-link, #location-image-hint) {
        display: block;
    }

    .container {
        transition: max-height 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
    }

    aside.expanded + .container {
        flex: 0 0 0 !important;
        min-height: 0;
    }

    #search-container {
        flex: 0 0 auto;
    }

    aside:not(.expanded) #search-container {
        margin: 0;
        margin-bottom: 8px;
    }

    #location-content {
        padding: 8px;
    }
}
