h1 {
    text-align: center;
}

#options-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: min-content;
    margin-top: 20px;
    padding: 8px;
    gap: 16px;
}

